<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="black_jack_body">
    
    <div class="two_columns">
        <aside>
        <nav>
            <ul>
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('black_jack_about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('black_jack_home') }}">Project</a></li>
                <li><a href="{{ path('view_session') }}">Session</a></li>
            </ul>
        </nav>
        </aside>
        {% block main %}{% endblock %}
    </div>
    </body>
</html>
